@font-face {
  font-family: "iconfont"; /* Project id 2720194 */
  src: url('iconfont.woff2?t=1642236841496') format('woff2'),
       url('iconfont.woff?t=1642236841496') format('woff'),
       url('iconfont.ttf?t=1642236841496') format('truetype');
}

.iconfont {
  padding:0 8px 0px 4px;
  color:#fff !important;
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-safe:before {
  content: "\e753";
}

.icon-anquan1:before {
  content: "\e627";
}

.icon-huanbaoshebeizhuanyeyunying:before {
  content: "\e742";
}

.icon-anquan2:before {
  content: "\ec4d";
}

.icon-huanbaojieneng:before {
  content: "\e605";
}

.icon-huanbao:before {
  content: "\e666";
}

.icon-anquan3:before {
  content: "\e61d";
}

.icon-shengchangongyi:before {
  content: "\e629";
}

.icon-huanbaojichuxinxi:before {
  content: "\e65d";
}

.icon-03dongtaianquanjianguan-anquanchengnuo:before {
  content: "\e610";
}

.icon-gongyi1:before {
  content: "\e7cc";
}

.icon-huanbaoguanli:before {
  content: "\e691";
}

.icon-zhigongyidan:before {
  content: "\e63c";
}

.icon-3Dtu-01:before {
  content: "\e604";
}

.icon-dituzhanshi:before {
  content: "\e62a";
}

.icon-icon_3d:before {
  content: "\e61b";
}

.icon-a-3D:before {
  content: "\e632";
}

.icon-31chanpincanshu:before {
  content: "\e600";
}

.icon-baobiaofenxi:before {
  content: "\e617";
}

.icon-yewubaobiao:before {
  content: "\e633";
}

.icon-shuju:before {
  content: "\e664";
}

.icon-sousuo-sousuo:before {
  content: "\e6e3";
}

.icon-baobiao:before {
  content: "\e65c";
}

.icon-shuju1:before {
  content: "\e613";
}

.icon-baobiao1:before {
  content: "\e61f";
}

.icon-quanxian:before {
  content: "\e725";
}

.icon-zhongzhi:before {
  content: "\e61c";
}

.icon-zhongzhi1:before {
  content: "\e652";
}

.icon-pingtaicanshu:before {
  content: "\e7d7";
}

.icon-zhongzhi-:before {
  content: "\e63f";
}

.icon-gerenzhongxin:before {
  content: "\e86d";
}

.icon-sousuo:before {
  content: "\e601";
}

.icon-sousuo1:before {
  content: "\e602";
}

.icon-dashboard:before {
  content: "\e62d";
}

.icon-canshu:before {
  content: "\e603";
}

.icon-gerenzhongxin1:before {
  content: "\e72a";
}

.icon-shuju2:before {
  content: "\e61a";
}

.icon-quanxianguanli:before {
  content: "\e713";
}

.icon-peizhi-yunweipeizhi:before {
  content: "\e618";
}

.icon-peizhi-xitongpeizhi:before {
  content: "\e619";
}

.icon-jiankongpingtai:before {
  content: "\e69b";
}

.icon-shuaxin-zhongzhi-06:before {
  content: "\e85e";
}

.icon-zhucong:before {
  content: "\e761";
}

.icon-lingyu:before {
  content: "\e762";
}

.icon-guanliyuan:before {
  content: "\e763";
}

.icon-yemian:before {
  content: "\e764";
}

.icon-shouye:before {
  content: "\e765";
}

.icon-shezhi:before {
  content: "\e766";
}

.icon-anquan:before {
  content: "\e63e";
}

.icon-anquanbaozhang:before {
  content: "\e88c";
}

.icon-yiji-anquanjianguan:before {
  content: "\eaa7";
}

.icon-huanbaoxinxi:before {
  content: "\e608";
}

.icon-zhihuihuanbao:before {
  content: "\e63b";
}

.icon-gongyi:before {
  content: "\e6a1";
}

.icon-zaixianquhao:before {
  content: "\e642";
}

.icon-bg-security:before {
  content: "\e63a";
}

.icon-gongyiluxian:before {
  content: "\e679";
}

