$primary:#4D70FF;
// $primary:#4D70FF;
$info:#409eff;
$custom:#59A9F8;
$success:#21B978;
$warning:#DDA451;
$danger:#EA5455;
// $warning:#DDA451;

$shadow1:0 3px 1px -2px rgba(0, 0, 0,.05), 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 5px 1px rgba(0, 0, 0, .05);
$shadow2:0 3px 2px -2px rgba(0, 0, 0,.1), 0 2px 3px 0 rgba(0, 0, 0, .1), 0 1px 6px 1px rgba(0, 0, 0, .1);
$shadow3:0 4px 3px -2px rgba(0, 0, 0,.1), 0 2px 3px 0 rgba(0, 0, 0, .1), 0 1px 6px 1px rgba(0, 0, 0, .1);
